@import url(”/node_modules/@fortawesome/fontawesome-free/css/all.min.css”);

* {
  margin: 0;
}

html {
  font-size: 10px;
  box-sizing: border-box;
}

body {
  font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  font-weight: 300;
  min-height: 100vh;
  min-width: 100vw;
}

.container {
  min-height: inherit;
  min-width: inherit;
}

h1 {
  font-size: 2.5rem;
}

p {
  font-size: 2rem;
}

ul {
  padding: 0;
}

li {
  list-style-type: none;
  font-size: 1.1rem;
}

.container > * {
  padding: 1rem;
}

.container,
.container > *,
.nav-list,
.shopping-list-items {
  display: flex;
}

.nav-list {
  gap: 0.5rem;
}

main,
.container {
  flex-direction: column;
  flex: 1;
}

header {
  background-color: #289988;
  align-items: center;
}

header,
section {
  color: #fff;
}

header,
section,
.shopping-list-items {
  justify-content: space-between;
}

section {
  background-color: #43a080;
}

main {
  background-color: #fec844;
}

.strikethrough {
  text-decoration: line-through;
}

.selected {
  font-weight: bold;
}

.total-price {
  align-self: flex-end;
}
